<div class="flex flex-col px-4 py-8">
  <h2>Select Stores</h2>
  <ul class="mb-2">
    <li
      *ngFor="let store of stores"
      class="flex flex-row gap-2 px-4 py-2 shadow-md shadow-[gray]"
    >
      <app-store-select-item
        [store]="store"
        class="flex grow"
      ></app-store-select-item>
      <input type="checkbox" (change)="onCheckboxChange(store, $event)" />
    </li>
  </ul>
  <div>
    <button (click)="onSelectStores()" class="button-primary float-right">
      Select
    </button>
  </div>
</div>
